<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fz.dao.AgencyDAO">
    <resultMap id="agencyMap" type="agencyVo"></resultMap>
    <select id="queryById" resultMap="agencyMap" parameterType="long">
        select * from t_agency where id = #{id}
    </select>
    <delete id="delete" parameterType="long">
        delete from t_agency where id = #{id}
    </delete>
    <select id="pagelist" resultMap="agencyMap">
        select * from t_agency limit #{pageNo},#{pageSize}
    </select>
    <select id="listAll" resultMap="agencyMap">
        select * from t_agency
    </select>
    <select id="count" resultType="int">
        select count(*) from t_agency
    </select>
    <insert id="add" parameterType="agencyVo">
        insert into t_agency (companyName, leader, emailAcc ) values ( #{companyName}, #{leader}, #{emailAcc})
    </insert>
    <update id="update">
        update t_agency set companyName=#{companyName},leader=#{leader},emailAcc=#{emailAcc} where id = #{id}
    </update>
</mapper>